body{
    margin: 0px;
}

.header{
    background-color: darkblue;
    color: whitesmoke;
    height: 104px;
    padding: 0px;
    margin: 0px;  
}

#hleft{
    width: 200px;
    float: left;
    margin-left: 10px;
    padding: 0px;
    text-align: left;
}

#hright{
    width: 500px;
    float: right;
    margin: 10px;
    padding: 0px;
    text-align: right;
}

.container{
    margin: 0px;
}

#cleft{
    width: 400px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

#cright{
    width: 400px;
    float: right;
    margin: 10px;
    padding: 0px;
    text-align: center;
}